mixin page-navigation(navigationItems)
	nav.sidebar.sidebar__account
		if navigationItems && navigationItems.length
			ul.sidebar__list
				each navigation, index in navigationItems
					if navigation.isSelected
						li.sidebar__item
							a.sidebar__link.active(href=navigation.url)
								if(navigation.srcImg)
									img(width="20" height="20" src=navigation.srcImg).page-navigation-list-logo.logout_img
								else if(navigation.srcSvg)
									svg(class='svg-'+ navigation.srcSvg +'-dims logout_img')
										use(xlink:href='#'+navigation.srcSvg xmlns:xlink='http://www.w3.org/1999/xlink')
								p.sidebar__text= navigation.text
					else
						li.sidebar__item
							a.sidebar__link(href=navigation.url)
								if(navigation.srcImg)
									img(width="20" height="20" src=navigation.srcImg).page-navigation-list-logo.logout_img
								if(navigation.srcSvg)
									svg(class='svg-' + navigation.srcSvg + '-dims logout_img')
										use(xlink:href='#' + navigation.srcSvg xmlns:xlink='http://www.w3.org/1999/xlink')
								p.sidebar__text= navigation.text


